@import url('fonts.css');

.discover-container {
    margin: 20px 0 50px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Poppins', sans-serif;
}

.discover-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 25px;
}

.discover-grid:has(.no-results) {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.no-results {
    color: #545454;
    font-size: 16px;
}

.discover-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.header-title h1 {
    margin: 0;
    font-family: 'Poppins-Bold', sans-serif;
    letter-spacing: 1px;
    color: black;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 15px;
    flex: 1;
    max-width: 500px;
}

.search-form .type-input {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.search-form input {
    font-family: 'Poppins', sans-serif;
    padding: 12px 20px;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    outline: none;
    font-size: 14px;
}

.search-form input:focus {
    border-color: #545454;
    outline: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2)
}

.search-form input:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2)
}


.user-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.user-card:hover {
    transform: translateY(-5px);
}

.card-top {
    height: 60px;
    background-color: #ffbd59;
    width: 100%;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    margin-top: -35px;
    gap: 15px;
}

.user-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.user-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-name a {
    font-family: 'Poppins-Bold', sans-serif;
    text-decoration: none;
    font-size: 16px;
    color: black;
    transition: color 0.3s ease;
}

.user-name a:hover {
    color: #ffbd59;
}

.card-bot {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-button,
.action-button {
    padding: 10px 22px;
    border-radius: 50px;
    font-family: 'Poppins-Bold', sans-serif;
    font-size: 13px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
    background-color: #545454;
    color: white;
    text-align: center;
}

.outline-button {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #545454;
}

.search-button:hover,
.action-button:hover {
    background-color: #ffbd59;
    color: black;
    transform: scale(1.05);
    border-color: #ffbd59;
}

.search-button:active,
.action-button:active {
    background-color: #ffbd59;
    color: black;
    transform: scale(0.95);
}

.search-button:focus,
.action-button:focus {
    outline: none;
}

