@font-face {
    font-family: Poppins;
    src: url('Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Architype-Aubette;
    src: url('AubetteArchiType.otf');
    
}

#header{
    padding:2vh 0 40px 0; 
    background-color: #545454;
    position: static;
}

#icon{
    width:40px;
    height:40px;
    position:absolute;
    margin: 0.5vh;
    top:0.5vh;
}

h1 {
    font-family: Architype-Aubette;
    color:white;
    text-shadow: 2px 2px black;
    position:absolute;
    left: 43px;
    top: 0.5vh;
    margin: 0.5vh
}



body {
    background-color: white;
    font-family: Poppins, sans-serif;
    margin:0;
}
