#sidebar-message{
    margin:0;
    left:if(media(max-width: 500px): 1%; else: 9%);
    top:60px;
    width: 30vw;
    position:absolute;
    display: flex;
}
#sidebar-message table{
    width: 100%;
    background-color: #ffbd59;
}
#sidebar-message a{
    text-decoration: none;
    color: black;
    text-align: center;
    
}
#sidebar-message #message-header{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid black;
    text-align: center;
    padding-right: 5%;
}

#sidebar-message #message-header td{
    padding: 10px;
    text-align: center;
    background-color: #ffbd59;
    padding-left: 15px;
    padding-right: 15px;
}
#sidebar-message tr{
    border-bottom: 1px solid black;
    text-align: center;
}

#sidebar-message #message-header td:hover{
    background-color: #ffffff;
    border-radius: 20px;
}

.message-list{
    padding: 10px;
    background-color: #d9d9d9;
    padding-bottom: 300px;
    margin:0;
}

#main-message-body{
    margin:0;
    right: 10px;
    top:60px;
    width:55vw;
    height: 500px;
    background-color: #d9d9d9;
    position: absolute;
}

#sidebar-message::-webkit-scrollbar {
    width: 8px;
}

#sidebar-message::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

#sidebar-message::-webkit-scrollbar-thumb {
    background: #888; 
}

#sidebar-message::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#sidebar-message #message-header #message{
    border-radius: 20px;
    background-color: #ffffff;
}