@import url('fonts.css');
nav {
    background-color: #d9d9d9;
    margin:0;
    left: 0;
    overflow: hidden;
    position: fixed;
    height: 100vh;
    display:if(media(max-width: 500px): none; else: block)!important;
}
ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
}
li a {
    display: block;
    color: black;
    padding: 8px 16px;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #b4b4b4;
    overflow: hidden;
}
li a:hover {
    font-family: Poppins-Bold;
    background-color: #ffbd59;
    color: black;
    overflow: hidden;
}
li a img{
    min-width: 40px;
    min-height: 40px;
    height:70%;
    width: 70%;
    max-height:60px;
    max-width: 60px;
    overflow: hidden;
}

@media screen and (max-width:1000px) {
    nav{
        width: 120px;
        max-width: 70px;
    }
}