<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='resources/chattiegrameicon.ico') }}">
    <title>ChattieGrame</title>
    {% block head %}{% endblock %}
</head>
<body>
<div class="container">
    <div class="header">
        <div class ="header-spacer">
            <img src='{{ url_for('static', filename='resources/chattiegrameicon.ico') }}' id="icon">
            <h1>CHATTIEGRAME</h1>
        </div>
    </div>
    <div class = "menu">
    {% include 'navigation.html' %}
    </div>
    <div class="content">
    {% block body %}{% endblock %}
    </div>
    <div class="footer-basic" class="footer">
        <footer>
            <p class="copyright">cgalabrador128 & Geromeeee © 2026</p>
        </footer>
    </div>
</div>
</body>
</html>