<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='resources/chattiegrameicon.ico') }}">
    <title>ChattieGrame</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}"/>
</head>

<body>
<div class="container">
    <div class="auth-card">
        <div class="auth-header">
            <img src="{{ url_for('static', filename='resources/chattiegrameicon.ico') }}" class="auth-logo">
            <h1>CHATTIEGRAME</h1>
            <h2>Welcome!</h2>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert {% if category == 'error' %}error-alert{% else %}success-alert{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="auth-form">
            <form action="/login" method="post">
                <div class="type-input">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="Enter your email">
                </div>
                <div class="type-input">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Enter your password">
                </div>
                <div class="submit">
                    <button type="submit">Login Account</button>
                </div>
            </form>
            <div class="auth-footer">
                <a href="/signup">I do not have an account yet.</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>