{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='message.css') }}">
{% endblock %}

{% block body %}
<div class="message-container" 
    data-chat-id="{{ id }}" 
    data-user-id="{{ session.get('userid') }}"
    data-chatmate-image="{{ profile[1]['profile_image'] if profile and profile|length > 1 else '' }}"
    >
    <div class="message-sidebar">
        <div class="message-item"><h3><a href = "{{ url_for('messages', id='#') }}" id="truelaloo">Messages</a></h3></div>
        <div class="request-item"><h3><a href = "{{ url_for('requests', id='#') }}">Requests</a></h3></div>
        <div class="message-sidebar-content">
            <!--MESSAGE CONTENT-->
            {% if preview != None %}
                {%for prev in preview %}
                <a href ="/messages/{{ prev[0] }}">
                    <div class ="message-preview">
                        <img src = "{{ prev[1].profile_image }}">
                        <div class='h2'>{{ prev[1].name }}</div>
                        <div class = "body">{{ prev[2][0].chatcontent }}</div>
                        <div class="time">.. ago</div>
                    </div>
                </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <!--MESSAGE CONTENT-->
    <div class="message-content">
       <div class="message-content-header">

        {% if profile != None %}
            <img src ="{{ profile[1].profile_image }}">
            <h2>{{ profile[1].name }}</h2>
            <p>Active Now</p>
        {% endif %}

       </div>
        <div class="message-content-body">
            <div class="mc-body">
                <!--For loop here-->
                {% if messages != None %}
                    {% for message in messages %}
                        {% if session.get('userid') == message.userid_sender %}
                            <div class="receiver"><p>{{ message.chatcontent }}</p></div>
                        {% else %}
                            <div class="sender">
                                <img src ="{{ profile[1]['profile_image'] }}">
                                <p>{{ message.chatcontent }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </div>
            <div class="mc-interact">
                <form id = "chat-form">
                    <input type="text" id="message-content" name="message-content">
                    <button type="submit" id="send-button">➤</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% include 'scripts.html' %}
<script src ="{{ url_for('static', filename='message.js') }}"></script>
{% endblock %}