{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='message.css') }}">
{% endblock %}

{% block body %}
    {% include 'navigation.html' %}

<div id ="sidebar-message" class="general">
    <!--
     <table>
        <tr id="message-header">
            <td id ="message"><a href = "messages">Messages</a></td>
            <td><a href = "requests">Requests</a></td>
        </tr>
        <tr class="message-list">
        <td>tets</td>
        Display the list of previous messages of all contact lists
        {% for message in messages %}
        <tr><td><a href="{{ url_for('view_message', message_id=message.id) }}">{{ message.subject }}</a></td></tr>
        {% endfor %}
        </tr>
    </table> 
    -->
</div>
<div id="main-message-body" class="general">
    <div id="picture-and-name">
        
</div>

{% endblock %}