<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='navigation.css') }}"/>
</head>
<body>
<nav>
    <ul>
    <li><a href="{{ url_for('overview') }}"><img src="{{ url_for('static', filename='/resources/1.png') }}"/><br>Overview</a></li>
    <li><a href="{{ url_for('messages', id='#') }}"><img src="{{ url_for('static', filename='/resources/4.png') }}"/><br>Messages</a></li>
    <li><a href="{{ url_for('groups') }}"><img src="{{ url_for('static', filename='/resources/3.png') }}"/><br>Groups</a></li>
    <li><a href="{{ url_for('discover') }}"><img src="{{ url_for('static', filename='/resources/5.png') }}"/><br>Discover</a></li>
    <li><a href="{{ url_for('profile', userid=session.get('userid')) }}"><img src="{{ url_for('static', filename='/resources/2.png') }}"/><br>Profile</a></li>
    </ul>
</nav>

</body>
</html>