<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='navigation.css') }}"/>
</head>
<body>
<nav>
    <ul>
        <li><a href="home"><img src="{{ url_for('static', filename='/resources/1.png') }}"/>Overview</a></li>
        <li><a href="messages"><img src="{{ url_for('static', filename='/resources/4.png') }}"/>Messages</a></li>
        <li><a href="groups"><img src="{{ url_for('static', filename='/resources/3.png') }}"/>Groups</a></li>
        <li><a href="discover"><img src="{{ url_for('static', filename='/resources/5.png') }}"/>Discover</a></li>
        <li><a href="profile"><img src="{{ url_for('static', filename='/resources/2.png') }}"/>Profile</a></li>
    </ul>
</nav>

</body>
</html>