{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
{% include 'navigation.html' %}
<p class="general">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae est lacus. Donec eget egestas libero, id aliquet urna. Donec dapibus sodales justo sit amet cursus. Fusce varius vehicula neque, quis ultricies neque auctor vel. Curabitur rutrum dui a quam porta pretium. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean lacinia elementum lobortis. Vestibulum mauris erat, volutpat id felis sed, hendrerit mollis purus. Vivamus porttitor, lorem et finibus bibendum, purus turpis posuere diam, at dapibus enim turpis rhoncus arcu. Fusce congue lectus in lacus fringilla, nec varius dui imperdiet. Praesent consequat efficitur ligula et mollis. Cras in vulputate quam.

Vivamus in orci nisl. Nam id ante ornare, hendrerit dui in, vehicula justo. Proin sagittis quam id purus tristique aliquam. Donec vel enim luctus ante viverra convallis. In sodales auctor diam. Phasellus massa nunc, consequat eget quam eget, finibus dignissim lorem. Cras in mi et felis imperdiet maximus et at tellus. Ut molestie a lectus et viverra. Pellentesque lorem tellus, laoreet ac mollis nec, vestibulum quis libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consectetur purus est, sed ultrices mi tempor nec. Donec sit amet iaculis leo, vel congue massa. Donec egestas purus id hendrerit eleifend. Etiam cursus dolor id porta ultricies. Proin turpis libero, ultrices vitae dui eget, semper viverra libero. Aenean ac iaculis nisl
</p>
{% endblock %}
{% include 'navigation.html' %}