{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
{% endblock %}

{% block body %}
    <div class="profile-container">
        <div class="profile-header">
            <img src="{{ profile.profile_image }}" alt="Profile Picture" class="profile-picture">
            {% if session.get('userid') == user %}
                <button id ="profile_button" value="change_pfp">Change Profile Picture</button>
            {% endif %}
            {% if session.get('userid') != user %}
                <button onclick="window.location.href='/chat/{{ user }}'">Chat</button>
                <button onclick="window.location.href='/friend_request/{{ user }}'">Add Friend</button>
            {% endif %}
            <h1>{{ profile.name }}</h1>
        </div>
        <div class="profile-content">
            <p><strong>Email:</strong> {{ profile.email }}</p>
            <!-- Add more profile details as needed -->
        </div>
        <div class="friends-section">
            <div class ="friends-header">
                <h2>Friends</h2>
            </div>  
                {% for friend in friends %}
                <div class="friend">
                    <img src="{{ friend[1] }}" alt="{{ friend[0] }} profile picture">
                    <h4>{{ friend[0] }}</h4>
                </div>
                {% endfor %}
        </div>
    </div>
{% include 'scripts.html' %}
{% endblock %}