{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='message.css') }}">
{% endblock %}

{% block body %}
<div class="message-container">
    <div class="message-sidebar">
        <div class="message-item"><h3><a href = "{{ url_for('messages', id='#') }}">Messages</a></h3></div>
        <div class="request-item"><h3><a href = "{{ url_for('requests', id='#') }}" id="truelaloo">Requests</a></h3></div>
        <div class="message-sidebar-content">
            <!--MESSAGE CONTENT-->
        </div>
    </div>
    <div class="message-content">
       <div class="message-content-header"></div>
        <div class="message-content-body">
            <!--MESSAGE CONTENT-->
        </div>
    </div>
</div>

{% endblock %}