{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='message.css') }}">
{% endblock %}

{% block body %}
{% include 'navigation.html' %}
<div id ="sidebar-message" class="general">
    <table>
        <tr id="message-header">
            <td><a href = "messages">Messages</a></td>
            <td id="request"><a href = "requests">Requests</a></td>
        </tr>
        <div class="message-list">
        <tr ></tr>
        <!-- Display the list of previous messages of all contact lists
        {% for message in messages %}
        <tr><td><a href="{{ url_for('view_message', message_id=message.id) }}">{{ message.subject }}</a></td></tr>
        {% endfor %}-->
        </div>
    </table>
</div>
<div id="main-message-body" class="general">
    <div id="picture-and-name">
        
</div>

{% endblock %}