{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="signup-card">
            <div class="signup-header">
                <h1>Welcome to ChattieGrame</h1>
                <div class="signup-form">
                    <h2>Signup</h2>
                    <form action="/signup" method="post">
                        <div class="email-input">
                            <label>Email</label>
                            <input type="email" placeholder="Email" required>
                        </div>
                        <div class="password-input">
                            <label>Password</label>
                            <input type="password" placeholder="Password" required>
                        </div>
                        <div class="submit">
                            <button type="submit">Signup</button>
                        </div>
                    </form>
                    <div class="signup-footer">
                        <a href="/login">Login</a>
                    </div>

                </div>
            </div>
        </div>


    </div>
    {% include 'navigation.html' %}
    <div class ="footer-basic">
        <footer>
            <p class ="copyright">cgalabrador128 & Geromeeee © 2026</p>
        </footer>
    </div>
{% endblock %}